/* Color variables */
:root {
  --stratos: #001b48;
  --regal-blue: #02457a;
  --bondi-blue: #018abe;
  --morning-glory: #97cadb;
  --botticelli: #d6e8ee;
  --white: #ffffffe7;
}

/* Tool menu */
#toolbox {
  margin-bottom: 0.5em;
  margin-left: 1em;
  border-radius: 5px;
  padding: 1em;
  background-color: transparent;
  position: absolute;
}

#toolbox input {
  width: 2.3em;
}
#toolbox input:hover {
  opacity: 0.8;
  cursor: pointer;
}

#hidden-file-upload {
  display: none;
}

#download-input {
  margin: 0 0.5em;
}

#chart text {
  font-weight: 700;
}

.conceptG text {
  pointer-events: none;
}

marker {
  fill: transparent;
}

/* General nodes/edges */
.weight-label,
g.conceptG text {
  fill: white;
}
.selected-edge,
.no-selected-edges,
.final-edge {
  cursor: pointer;
}
.selected-edge:hover,
.no-selected-edges:hover,
.final-edge:hover {
  stroke: var(--morning-glory);
}

/* No Selected nodes/edges */
.no-selected-node circle,
g.conceptG circle {
  fill: var(--regal-blue);
  stroke-width: 0.2em;
  stroke: hsla(0, 0%, 100%, 0.325);
}
g.selected circle,
g.conceptG:hover circle {
  fill: var(--bondi-blue);
  stroke-width: 0.2em;
  stroke: hsla(0, 0%, 100%, 0.325);
}
.no-selected-edges {
  stroke-width: 0.25em;
  stroke: hsla(0, 0%, 100%, 0.225);
}

/* Selected nodes/edfes */
.selected_node.node_fill {
  fill: var(--stratos);
  stroke-width: 0.2em;
  stroke: hsla(0, 0%, 100%, 0.325);
}
.selected_node.node_fill:hover {
  fill: var(--bondi-blue);
  stroke-width: 0.2em;
  stroke: hsla(0, 0%, 100%, 0.325);
}
.selected-edge {
  stroke-width: 0.35em;
  stroke: hsla(197, 99%, 37%, 0.525);
}

/* Final edges */
.final-edge {
  stroke-width: 0.35em;
  stroke: #0bd4c4;
  /* stroke: rgb(255, 230,  0); */
}

/* Edges hidden */
path.link:hover,
path.selected {
  stroke: var(--morning-glory);
}
path.link.hidden {
  stroke-width: 0;
}
path.link {
  stroke: hsla(0, 0%, 100%, 0.325);
  stroke-width: 0.2em;
}
