/* Import fonts */
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/quicksand/v21/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkM0o58i-wi40.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/quicksand/v21/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkM0o58a-wg.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../src/fonts/6xKtdSZaM9iE8KbpRA_hJVQNcOM.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../src/fonts/6xKtdSZaM9iE8KbpRA_hK1QN.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* Color variables */
:root {
  --stratos: #001b48;
  --regal-blue: #02457a;
  --bondi-blue: #018abe;
  --morning-glory: #97cadb;
  --botticelli: #d6e8ee;
  --white: #ffffffe7;
  --black: #000000;
}

/* Algorithm content */
.algorithm-container,
.tutorial-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-width: 100%;
  text-align: center;
  color: white;
}
.algorithm-content,
.tutorial-content {
  position: relative;
}

/* Button slides */
.slide_left,
.slide_right,
.dots_slide {
  cursor: pointer;
}
.slide_left {
  float: left;
}
.slide_right {
  float: right;
}
.slide_left:hover,
.slide_right:hover {
  color: var(--bondi-blue);
}
.slides img {
  margin-top: 0.5em;
}

/* Middle Button */
.dots_slide {
  background-color: #000;
  color: white;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid white;
}
.dots_slide {
  height: 13px;
  width: 13px;
  padding: 0;
}

/* Middlebutton */
.middlebutton {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1em;
}

/* Dots buttons */
.dot-transparent {
  background-color: transparent;
}
.dot-white {
  background-color: white;
}
.hover-white:hover {
  color: transparent;
  background-color: white;
}

/* Slides */
.slides,
.slides_2 {
  display: none;
}

/* Form: Plain text */
.input-container {
  background-color: var(--white);
  border-radius: 0.5em;
  min-width: 90%;
  padding: 0.5em 5%;
}
.input-container h3 {
  color: var(--stratos);
}
.input-container button {
  width: 95%;
  padding: 0.8em 3.5em;
  margin: 1em;
  background-color: var(--stratos);
  color: white;
  border-radius: 0.5em;
  border: 0;
  text-align: center;
  outline: none;
  cursor: pointer;
}
.input-container button:hover {
  transition: 0.8s;
  background-color: #02447ae8;
}
.input-container textarea {
  resize: none;
  margin: 0.25em 0;
  width: 98%;
  font-size: 0.9em;
  background-color: transparent;
  border: 2px solid;
  border-radius: 0.6em;
  outline: none;
  padding: 1%;
}

/* Tutorial & Algorithm */
.slides,
.slides_2 {
  background-color: var(--white);
  border-radius: 0.5em;
  min-width: 96%;
  padding: 0.5em 1em 0 0;
  text-align: justify;
  max-height: 390px;
  min-height: 390px;
}

hr {
  border-top: 1.5px solid var(--stratos);
  margin: -0.5em 0.5em -0.2em 1.3em;
}

b {
  font-weight: 700;
}

li {
  padding: 0 0.5em;
}

/* Tutorial & Algorithm Slides */
.slides p,
.slides_2 p,
.slides span {
  color: var(--stratos);
}
.slides_2 h3,
.slides h3,
.slides p b,
.slides_2 p b {
  color: var(--regal-blue);
}
.slides h3,
.slides_2 h3 {
  text-align: center;
}
.slides b,
.slides ul li,
.slides ol li,
.slides_2 b,
.slides_2 ul li {
  color: var(--bondi-blue);
}
.slides ol li {
  font-weight: 500;
}
.slides p,
.slides_2 p {
  margin-top: 0;
  font-weight: 500;
}

.slides p {
  padding: 0 0.5em 0 1.4em;
}
b.blue-b {
  color: var(--regal-blue) !important;
}
b.blue-l {
  color: var(--bondi-blue) !important;
}
.slides span {
  font-weight: 500;
}

/* Pesudocode */
.pseudocode-container {
  text-align: left;
}
.pseudocode-container ul {
  list-style-type: none;
  padding-left: 1.5em;
}
.pseudocode-container p {
  font-size: 0.85em;
}

/* Plain text */
.plain-text,
.plain-text ul {
  font-size: 0.95em;
  margin-left: -1em;
  list-style-type: none;
}
.plain-text ul li {
  margin-top: -0.5em;
}
.plaint-text__container {
  color: var(--stratos);
  font-size: 500;
  border-left: 0.3em solid var(--bondi-blue);
  padding-left: 1em;
  margin-top: -0.5em;
  font-size: 0.85em;
  padding-bottom: 0.3em;
}

/* Demostration */
.demostration-container {
  display: grid;
  grid: 100%;
  overflow: auto;
  max-height: 60vh;
}
#weightF span {
  font-weight: 500;
}
